.container {
  width: 100vw;
  height: 100vh;
  background-color: #1e1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text {
  padding: 20px;
  border: none;
  border-radius: 12px;
  background-color: #e6fef1;
}

.input-text:placeholder-shown {
  text-overflow: ellipsis;
}

::placeholder {
  font-weight: 600;
  color: rgb(37, 118, 118);
}
