.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 96px;
  color: white;
  border: 12px solid transparent;
  border-radius: 24px;
  background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #ff52e5, #f6d242) border-box;
}