:root {
  --root-hue: 0deg;
  --range: 30deg;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  --start-color: calc(var(--root-hue) - var(--range));
  --end-color: calc(var(--root-hue) + var(--range));

  width: 150px;
  height: 150px;
  border-radius: 2px;
  background: linear-gradient(
    45deg,
    hsl(var(--start-color) 100% 50%),
    hsl(var(--end-color) 100% 50%)
  );
}
