/* Write your own styles here */
* {
  box-sizing: border-box;
}

.container {
  width: 60vw;
  height: 170px;
  margin: 10px 0 0 40px;
  padding-top: 50px;
  background-color: #f8c8c8;
  border-radius: 16px;
}

.width-max {
  height: 70px;
  margin-inline: auto;
  background-color: #db8686;
  border-radius: 6px;
}

.old {
  width: 50%;
  min-width: 500px;
}

/* 
max(500px, 50%) - тут:
500px - то же, что и min-width: 500px;
50% - то же, что и width: 50%;
*/
.new {
  width: max(500px, 50%);
}
